/*LIST*/


input[id="list"]:checked ~ .project-list{
    border: 10px solid green
}

input[id="list"]:checked ~ .project-list .project{
    border: 1px solid salmon;

    display: grid; /* te proporciona una cuadrícula de una sola column*/
    grid-template-columns: 50px 1fr 100px 100px; /*sirve para definir el número de columnas que tendrá nuestra rejilla, así como los tamaños asignados a cada una*/

    gap: 1rem; /*espasios entre elementos*/
    padding: 1rem; /*relleno*/
    align-items: center; /*alinear objetos*/

}
input[id="list"]:checked ~ .project-list .project > * {
    border: 5px solid black; 
}
input[id="list"]:checked ~ .project-list .project img{
    inline-size: 50px;
    aspect-ratio: 1/1; 
    object-fit: cover;
}


/*GRID*/


input[id="grid"]:checked ~ .project-list{
    border: 10px solid blue;

    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;

    gap: 1rem;
}
input[id="grid"]:checked ~ .project-list .project {
    border: 5px solid green;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 200px auto auto;
    border-radius: 1rem;
    overflow: hidden; /*Oculta cualquier elemento hijo que se desvorda*/
    display: grid;
    align-items: center;
}
input[id="grid"]:checked ~ .project-list .project img{
    inline-size: 100%;
    block-size: 100%;
    /* aspect-ratio: 1/1; */
    object-fit: cover;
    grid-area: 1 / 1/ 1 / -1;
}
input[id="grid"]:checked ~ .project-list .project time:nth-of-type(1) {
    grid-column-start: 2;
}
input[id="grid"]:checked ~ .project-list .project time:nth-of-type(2) {
    grid-column-start: 2;

}
input[id="grid"]:checked ~ .project-list .project-name {
    /* background-color: orange; */
    grid-row: 2 / -1;
}




















.project-list {
    padding: 1rem;
}


input[id="list"]:checked ~ .project-actions [for="list"] ,
input[id="grid"]:checked ~ .project-actions [for="grid"] {
    background-color: rebeccapurple;
}

input {
    display: none;
}

body {
    font-family: sans-serif;
}

.project-actions {
    display: flex;
    justify-content: flex-end;
}

label {
    border: 1px solid red;
    cursor: pointer;
    user-select: none;
    padding: 1rem;
}


